{% extends 'main.html' %}

{% block content %}
<div style="max-width:1000px; width:100%;" class="wrapper-login">
    <h1>Vacancy list</h1>
    <div style="max-width:1000px; width:100%;">
        {% for vacancy in vacancies %}
        <div class="vansy-cards">
            <div style="display:flex; flex-direction: column;">
               <strong><a href="{% url 'job:vacancy_detail' pk=vacancy.pk %}">Вакансия: {{ vacancy.title }}</a></strong>
                <span>Зарплата: {{ vacancy.price }}$</span>
            </div>
            <div style="text-align:center; max-width:100px; width:100%;">
                <p style="font-size: x-large;">{{ vacancy.company.name }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
