{% extends 'main.html' %}
{% block content %}
  <h1>User info</h1>
{#    {% if user_data %}#}
{#        <div>#}
{#        <h1>Имя: {{ user_data.first_name|capfirst }} {{ user_data.last_name|capfirst }}</h1>#}
{#        </div>#}
{#    {% endif %}#}
    {% if request.user.is_authenticated %}
        username: {{ request.user.username }}
        {%if user.profile.picture%}
          <div><img width="300" height="300" src="{{user.profile.picture.url}}" alt="{{user.profile.picture.name}}"></div>
        {%else%}
          <p>User have no avatar</p>
        {%endif%}
        <div>
          <form method="post" enctype="multipart/form-data">
            {% csrf_token%}
            {{form.as_p }}
            <button type="submit">Change info</button>
          </form>
        </div>
        <a href="{% url 'auth:profile' %}">Back to profile</a>
    {% else %}
        <h1>User is anonymous</h1>
    {% endif %}

{% endblock %}
